.board {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    /* Or auto if we want scrolling */
    touch-action: none;
    /* Important for drag and drop */
}